.form{
    width: 50%;
    margin: 0 auto;
   
}
.form >input{
    padding: 12px 20px;
    width: 70%;
    border: solid 1px ;
    border-radius: 5px;
    margin-left: 17%;
}
.form >button{
    border: none;
    border-color: #72A0C1;
    outline: none;
    background-color: #72A0C1;
    padding: 10px 12px;
    border: solid 1px ;
    color:#72A0C1;
    border-radius: 5px;
    margin-left: 17%;
    height: 10vh;
    width: 10vw;
    

}

.login{
    margin-left: 47%;
}
.loginlink{
    text-decoration: none;
    color: black;
    font-size: 15px;

}
input{
    height: 7vh;
}
body{
    background-color: rgb(231, 231, 222);
}
