body{
    overflow-x: hidden;
    background-color: rgb(157, 238, 238);
}
.products{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    margin-left: 5%;

}
.image{
    width: 55%;
    height: 27vh;
    margin: 5%;
    margin-left: 7%;
    border-radius: 30px;
}
h3{
    margin-top: -4%;
    margin-left: 10%;

}
p{
    margin-top: -3%;
    margin-left: 10%;
}
.p1{
    margin-top: 3%;
    margin-left: 10%;
}
.btn{
    width: 12vw;
    border-radius: 10px;
    height: 7vh;
    color: rgb(1, 12, 12);
    background-color: #72A0C1;
    border: none;
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 25%;
}
button{
    width: 8vw;
    border-radius: 10px;
    height: 7vh;
    color: rgb(1, 12, 12);
    background-color: #72A0C1;
    border: none;
    margin-left: 10%;
    margin-bottom: 9%;
    margin-top: -20%;
}
